.CardWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

}
.ButtonWrapper {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.tabButton{
    width: 50px;
    height: 50px;
    background-color: #00171F;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    
    filter: drop-shadow(0px 0px 7px #4ECDC4);
}
.tabButton:last-child{
    margin-left: 10px;
}

.active {
    filter: drop-shadow(0px 0px 0px);
    background-color: #4ECDC4;
    transition: all .3s ease-in-out; 
}

.paragraph {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    color: #E9ECEF;
}